body{
    text-align: center;
    color: red;
}
header{
    background-color: black;
    
}
header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}