body{
    text-align: center;
    color: red;
}
<<<<<<< HEAD
header{
    background-color: black;
    
}
header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
=======

footer{

}
footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
}
footer ul li a{
    text-decoration: none;
    color: black;
>>>>>>> fudder
}